body {
    background-color: aquamarine;
    margin: 0;
    max-width: 1440px;
}

.container {
    margin: 0;
    display: flex;
    max-width: 1440px;
}

p {
    display: flex;
    align-self: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

#img1 {
    background-image: url("images/1.jpeg");
}

#img2 {
    background-image: url("images/2.jpeg");
}

#img3 {
    background-image: url("images/3.jpeg");
}

#img4 {
    background-image: url("images/4.jpeg");
}

#img5 {
    background-image: url("images/5.jpeg");
}

#img1, #img2, #img3, #img4, #img5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 20%;
}

.first, .last {
    margin-top: 0px;
    z-index: -1;
}

#imgEffect {
    padding: 0 150px 0 150px;
}

.firstEffect {
    margin-top: 0;
    padding: 0;
    position: relative;
    animation-name: effectF;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes effectF {
    from {top: 0px;} 
    to {top: 150px;}
}

.lastEffect {
    margin-top: 0;
    position: relative;
    animation-name: effectL;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes effectL {
    from {top: 150px;}
    to {top: 0px;}
}

